.sequel-font {
    font-size: 12vh;
    font-family: "Sequel Sans Heavy Disp", sans-serif;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
  }

  .hero-title{
    color: #A3FF00;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
  }
  
  .description{
    font-size: 24px;
  }

  .container {
    margin-left: 17vw;
  }
  
  @media (max-width: 576px) {
    .sequel-font {
      font-size: 5vh;
      font-family: "Sequel Sans Heavy Disp", sans-serif;
      font-weight: bold;
    }
  }
  