<section class="hero-one-2 position-relative"
         style="background-image: url(assets/images/BannerPromo-1.png); width: 100%;" id="store">
</section>

<div class="container">
    <div class="row">
    <div class="col-5">
        <div class="box-store-1">
            <img src="assets/images/Diversity.png" alt="img" style="width: 452px;
            height: 467px;">
            <span class="name-produk-1">T-shirt Oversized Maple Diversity</span>
            <span class="harga-1">Rp 150,000</span>
            <button class="square-1 btn-outline align-items-center">M</button>
            <button class="square-2 btn-outline align-items-center">L</button>
            <button class="square-3 btn-outline align-items-flex">XL</button>
        </div>
    </div>
    <div class="col-5">
        <div class="box-store-2">
            <img src="assets/images/earth.png" alt="img" style="width: 452px;
            height: 467px;">
            <span class="name-produk-2">T-shirt Oversized Maple Earth</span>
            <span class="harga-2">Rp 150,000</span>
            <button class="square-1 btn-outline align-items-center">M</button>
            <button class="square-2 btn-outline align-items-center">L</button>
            <button class="square-3 btn-outline align-items-flex">XL</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-5">
        <div class="box-store-3">
            <img src="assets/images/sticker-vol1.png" alt="img" style="width: 452px;
            height: 467px;">
            <span class="name-produk-3">Sticker Pack Maple Volume 1</span>
            <span class="harga-3">Rp 15,000</span>
            <button class="square-1 btn-outline align-items-center">M</button>
            <button class="square-2 btn-outline align-items-center">L</button>
            <button class="square-3 btn-outline align-items-flex">XL</button>
        </div>
    </div>
</div>
</div>