.hero-one-2 {
    width: 1280px;
    height: 634px;
    left: 0px;
    top: 0px;
}

.box-store-1 {
    box-sizing: border-box;
    position: absolute;
    width: 464px;
    height: 682px;
    left: 70px;
    top: 67px;
    border: 1px solid #E8E8E8;
}

.name-produk-1 {

    position: absolute;
    left: 36px;
    right: 33px;
    top: 495px;
    bottom: 52.55%;
    font-family: "Sequel Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.harga-1 {
    position: absolute;
    left: 36px;
    right: 311px;
    top: 545px;
    bottom: 113px;
    font-family: "Sequel Sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.square-1 {
    box-sizing: border-box;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 36px;
    top: 620px;
    background-color: transparent;
    border: 1px solid #E8E8E8;
    font-family: 'Sequel Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.square-2 {
    box-sizing: border-box;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 72px;
    top: 620px;
    border: 1px solid #E8E8E8;
    font-family: 'Sequel Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    background: transparent;
}

.square-3 {
    box-sizing: border-box;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 108px;
    top: 620px;
    border: 1px solid #E8E8E8;
    font-family: 'Sequel Sans',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    background: transparent;
}

.box-store-2 {
    box-sizing: border-box;
    position: absolute;
    width: 464px;
    height: 682px;
    left: 110px;
    top: 67px;
    border: 1px solid #E8E8E8;
}

.name-produk-2 {

    position: absolute;
    left: 36px;
    right: 33px;
    top: 495px;
    bottom: 52.55%;
    font-family: "Sequel Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.harga-2 {
    position: absolute;
    left: 36px;
    right: 311px;
    top: 545px;
    bottom: 113px;
    font-family: "Sequel Sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.box-store-3 {
    box-sizing: border-box;
    position: absolute;
    width: 464px;
    height: 682px;
    left: 69px;
    top: 770px;
    border: 1px solid #E8E8E8;
}

.name-produk-3 {

    position: absolute;
    left: 36px;
    right: 33px;
    top: 495px;
    bottom: 52.55%;
    font-family: "Sequel Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.harga-3 {
    position: absolute;
    left: 36px;
    right: 311px;
    top: 545px;
    bottom: 113px;
    font-family: "Sequel Sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}