<div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h3>ACTIVATION</h3>
        <h4>Activation merupakan Tindakan atau proses mengaktifkan.
            Transformasi proenzim menjadi enzim aktif oleh kerja kinase atau enzim lain.
            Proses di mana susunan saraf pusat dirangsang menjad aktif dengan perantaraan sistem aktifasi retrikular.
            Indukasi suatu pola aktifitas listrik dalam otak yang disengaja.</h4>
</div>
    </div>
</div>

<app-newquizzes></app-newquizzes>