.col-lg-12{
    margin-top: 89px;
}

h3{
    font-family: 'Sequel Sans Heavy Disp',sans-serif;

font-size: 48px;
}

h4{
    font-family: 'Sequel Sans',sans-serif;
font-weight: 365;
font-size: 20px;
line-height: 160%;
}

@media (max-width: 576px) {

    .col-lg-12{
        margin-top: 20px;
    }

    h3{
        font-size: 28px;
    }

    h4{
        font-size: 12px;
    }
  }