<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <img src="assets/images/Diversity.png" alt="img">
        <span class="namecard">Product description</span>
        <table class="description">
            T-Shirt Oversized Maple Diversity Cotton Combed 30s Sablon DTF
            <br><br>
             M  : 55 x 72 cm 
            <br>
             L  : 58 x 74 cm 
            <br>
            XL : 61 x 76 cm 
             <br><br>
        </table>
    </div>
    </div>
    <div class="col-lg-1"></div>    

        <div class="col-lg-5 col-md-6 col-sm-12 right-column">
        <span class="name-produk">T-shirt Oversized Maple Diversity</span>
        <br><br>
        <span class="harga-produk">Rp 150,000</span>
        <br><br>
        
         <div class="square-1">M</div>
        <div class="square-2"> L</div>
        <div class="square-3">XL</div>
        <button class="buy align-items-center"> <img src="assets/images/local_mall.svg" alt="svg" style="margin-bottom: 2px; margin-right: 5px;"> Buy</button>
    
</div>
    </div>
  </div>

<!-- <div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="assets/images/Diversity.png" alt="img">
                <span class="namecard">Product description</span>
                <table class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    <br><br>
                     M  : P x L 
                    <br>
                     L  : P x L 
                    <br>
                     XL : P x L 
                     <br><br>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="card-line"></div>
            <span class="name-produk">T-shirt Oversized Maple Diversity</span>
            <span class="harga-produk">Rp 150,000</span>
             <div class="square-1">
               <p class="m">M</p> 
            </div>
            <div class="square-2">
                <p class="l">L</p>
            </div>
            <div class="square-3">
                <p class="xl">XL</p>
            </div>
            <button class="buy align-items-center"> <img src="assets/images/local_mall.svg" alt="svg" style="margin-bottom: 2px; margin-right: 5px;"> Buy</button>
        </div>
    </div>
</div> -->