<div class="container">
  <div class="row no-gutters flex-column-reverse flex-sm-row">
    <div class="col-lg-6 col-md-6 col-sm-12 left-column">
      <div class="card">
        <img  src="{{(product  | async)?.merch_image_url}}" alt="Image 1">
        <span class="namecard">Product description</span>
        <table class="description" [innerHTML]="(product  | async)?.description">  </table>
    </div>
    </div>
    <div class="col-lg-2"></div>    

        <div class="col-lg-4 col-md-6 col-sm-12 right-column">
          <div class="card-white">
        <span class="name-produk">{{(product  | async)?.title}}</span>
        <br><br>
        <span class="harga-produk">{{(product  | async)?.price}}</span>
        <br><br>
        <button onClick="parent.open('https://www.tokopedia.com/maple-departement-store/t-shirt-oversized-maple-diversity-l?extParam=ivf%3Dfalse%26src%3Dsearch')" class="buy align-items-center"> <img src="assets/images/local_mall.svg" alt="svg" style="margin-bottom: 2px; margin-right: 5px;"> Buy</button>
    </div>
</div>
    </div>
  </div>