<div class="container">
    <div class="row no-gutters">
      <div *ngFor="let article of articles | async; let i = index" class="col-lg-6 col-md-6 col-sm-12" >
        <div (click)="onClick(article.id)" class="card" style="cursor: pointer;">
            <img  class="image" src="{{article.merch_image_url}}" alt="Image 1">
            <div class="content">
              <br>
              <div style="font-size: 24px; font-weight: bold; height: 5vh">{{article.title}}</div><br>  
              <div class="harga">{{article.price}}</div> <br> <br>
            </div>
  </div>
        </div>

        <!-- <div class="card" style="cursor: pointer;">
            <img src="assets/images/Diversity.png" alt="img">
            <span class="name-produk-1">T-shirt Oversized Maple Diversity</span>
            <span class="harga-1">Rp 150,000</span>
            <table class="size">
          </table>
        </div> -->
      </div>
      

      <!-- <div (click)="twoClick()" class="col-lg-6 col-md-6 col-sm-12">
        <div class="card" style="cursor: pointer;">
            <img src="assets/images/earth.png" alt="img">
            <span class="name-produk-2">T-shirt Oversized Maple Earth </span>
            <span class="harga-2">Rp 150,000</span>
            <table class="size">
            </table>
        </div>
      </div>
    </div>

    <div class="row no-gutters">
        <div (click)="threeClick()" class="col-lg-6 col-md-6 col-sm-12" >
        <div class="card" style="cursor: pointer;">
            <img src="assets/images/sticker-vol1.png" alt="img">
            <span class="name-produk-3">Sticker Pack Maple Volume 1</span>
            <span class="harga-3">Rp 15,000</span>
            <table class="size"></table>
           
        </div>
    </div>
    </div> -->
    </div>

