<div class="container">
    <div class="row no-gutters">
      <div (click)="onClick()" class="col-lg-6 col-md-6 col-sm-12" >
        <div class="card" style="cursor: pointer;">
            <img src="assets/images/Diversity.png" alt="img">
            <span class="name-produk-1">T-shirt Oversized Maple Diversity</span>
            <span class="harga-1">Rp 150,000</span>
            <table class="size">
            <div class="size-1-1">M</div>
            <div class="size-1-2">L</div>
            <div class="size-1-3">XL</div>
          </table>
        </div>
      </div>
      

      <div (click)="twoClick()" class="col-lg-6 col-md-6 col-sm-12">
        <div class="card" style="cursor: pointer;">
            <img src="assets/images/earth.png" alt="img">
            <span class="name-produk-2">T-shirt Oversized Maple Earth </span>
            <span class="harga-2">Rp 150,000</span>
            <table class="size">
            <div class="size-2-1">M</div>
            <div class="size-2-2">L</div>
            <div class="size-2-3">XL</div>
            </table>
        </div>
      </div>
    </div>

    <div class="row no-gutters">
        <div (click)="threeClick()" class="col-lg-6 col-md-6 col-sm-12" >
        <div class="card" style="cursor: pointer;">
            <img src="assets/images/sticker-vol1.png" alt="img">
            <span class="name-produk-3">Sticker Pack Maple Volume 1</span>
            <span class="harga-3">Rp 15,000</span>
            <table class="size"></table>
           
        </div>
    </div>
    </div>
    </div>

