<app-page-title>
   <p style="color: black;font-family: 'Sequel Sans Heavy Disp', sans-serif" >Read <br> The Article</p>
</app-page-title>
<div class="container">
  <div *ngIf="indexZeroArticle" class="row no-gutters">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img class="image" src="{{indexZeroArticle.content_image}}" alt="Image">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 right-column">
      <p style="font-size: 20px; font-weight: bold; font-family: 'Sequel Sans Heavy Disp', sans-serif">{{indexZeroArticle.title}}</p>
      <p [innerHTML]="indexZeroArticle.short_content"></p> <br> <br>
      <!-- <p class="p1">Author: Author Name</p> -->
      <p class="p2">Post Date: {{indexZeroArticle.created_time.toDate() | date:'EEEE, MM yyyy'}}</p> <br><br>
      <a (click)="readClick(indexZeroArticle.id)" style="font-family: 'Sequel Sans Roman Disp', sans-serif;">Read more <img src="assets/images/arrow_next.svg" alt="svg" style="height: 4%; "></a>
    </div>
  </div>

  <ng-container *ngIf="articles|async as articlesAsync">
  <div class="row pt-3">
    <div *ngFor="let article of articlesAsync | paginate: {  itemsPerPage: item, currentPage: p }" class="col-lg-4 col-md-6 col-sm-12">
      <div class="vertical-container card">
        <img style="height: 35.3vh; object-fit: cover; background-color: black" class="image" src="{{article.content_image}}" alt="Image 1">
        <div class="content">
          <br>
          <div style="font-family: Sequel Sans Heavy Disp, sans-serif; font-size: 14px; font-weight: bold; height: 5vh; cursor: default; color: black;">{{article.title}}</div><br>  
          <div class="short_content" [innerHTML]="article.short_content"></div> <br> <br>
          <!-- <p class="p1">Author: Author Name 1</p> -->
          <p class="p2">Post Date: {{article.created_time.toDate() | date:'EEEE, MM yyyy'}}</p> <br>
          <a (click)="readClick(article.id)" style="font-family: 'Sequel Sans Roman Disp', sans-serif; color: black;">Read more</a><br><br><br>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="maxSize"  [directionLinks]="directionLinks" ></pagination-controls>
  </div>
</ng-container>
</div>
