<section class="container sm:px-5 pt-[4.88rem] gap-y-[4.19rem]">
  <p class="text-center text-[1.5rem] lg:text-[2.5rem] text-white font-medium">Read the Articles</p>

  <p class="text-[#A3FF00] text-[1.25rem] text-left">Recent Updates</p>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
    <div class="aspect-square p-5 w-full flex flex-col text-white bg-gray-600">
      <p class="text-sm md:text-[0.75rem]">Friday, 8 September 2023</p>
      <p class="text-sm md:text-[1.5rem] font-bold">Perpres Jurnalisme Berkualitas:
        Ancaman Kepunahan Bagi
        Kreator Konten?</p>
      <p class="text-sm overflow-hidden md:text-[0.875rem] font-[400]">Masih ingat kongres Mark Zuckerberg yang ramai
        pemberitaannya pada tahun
        2018 silam?
        Banyak ulasan
        dan meme yang beredar mengenai sidang yang berlangsung selama 10 jam itu. Tapi ini bukan soal meme, melainkan
        di mana kongres tersebut beririsan dengan polemik
        Perpres Jurnalisme Ber...</p>
      <div class="grow"></div>
      <div class="text-sm md:text-[0.75rem] flex">4 min read • <div
          class="bg-white text-black ml-1 text-center py-[0.125rem] px-[0.375rem]">Issue</div>
      </div>
    </div>
    <div class="aspect-square p-5 w-full flex flex-col text-white bg-gray-600">
      <p class="text-sm md:text-[0.75rem]">Friday, 8 September 2023</p>
      <p class="text-sm md:text-[1.5rem] font-bold">Perpres Jurnalisme Berkualitas:
        Ancaman Kepunahan Bagi
        Kreator Konten?</p>
      <p class="text-sm overflow-hidden md:text-[0.875rem] font-[400]">Masih ingat kongres Mark Zuckerberg yang ramai
        pemberitaannya pada tahun
        2018 silam?
        Banyak ulasan
        dan meme yang beredar mengenai sidang yang berlangsung selama 10 jam itu. Tapi ini bukan soal meme, melainkan
        di mana kongres tersebut beririsan dengan polemik
        Perpres Jurnalisme Ber...</p>
      <div class="grow"></div>
      <div class="text-sm md:text-[0.75rem] flex">4 min read • <div
          class="bg-white text-black ml-1 text-center py-[0.125rem] px-[0.375rem]">Issue</div>
      </div>
    </div>
    <div class="aspect-square p-5 w-full flex flex-col text-white bg-gray-600">
      <p class="text-sm md:text-[0.75rem]">Friday, 8 September 2023</p>
      <p class="text-sm md:text-[1.5rem] font-bold">Perpres Jurnalisme Berkualitas:
        Ancaman Kepunahan Bagi
        Kreator Konten?</p>
      <p class="text-sm overflow-hidden md:text-[0.875rem] font-[400]">Masih ingat kongres Mark Zuckerberg yang ramai
        pemberitaannya pada tahun
        2018 silam?
        Banyak ulasan
        dan meme yang beredar mengenai sidang yang berlangsung selama 10 jam itu. Tapi ini bukan soal meme, melainkan
        di mana kongres tersebut beririsan dengan polemik
        Perpres Jurnalisme Ber...</p>
      <div class="grow"></div>
      <div class="text-sm md:text-[0.75rem] flex">4 min read • <div
          class="bg-white text-black ml-1 text-center py-[0.125rem] px-[0.375rem]">Issue</div>
      </div>
    </div>
    <div class="aspect-square p-5 w-full flex flex-col text-white bg-gray-600">
      <p class="text-sm md:text-[0.75rem]">Friday, 8 September 2023</p>
      <p class="text-sm md:text-[1.5rem] font-bold">Perpres Jurnalisme Berkualitas:
        Ancaman Kepunahan Bagi
        Kreator Konten?</p>
      <p class="text-sm overflow-hidden md:text-[0.875rem] font-[400]">Masih ingat kongres Mark Zuckerberg yang ramai
        pemberitaannya pada tahun
        2018 silam?
        Banyak ulasan
        dan meme yang beredar mengenai sidang yang berlangsung selama 10 jam itu. Tapi ini bukan soal meme, melainkan
        di mana kongres tersebut beririsan dengan polemik
        Perpres Jurnalisme Ber...</p>
      <div class="grow"></div>
      <div class="text-sm md:text-[0.75rem] flex">4 min read • <div
          class="bg-white text-black ml-1 text-center py-[0.125rem] px-[0.375rem]">Issue</div>
      </div>
    </div>
  </div>

  <div class="w-full my-6 items-center bg-white gap-x-7 flex px-[2.5rem] py-[1.19rem]">
    <div class="flex font-medium">Filter by <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown"
        class="flex items-center justify-between pl-3 text-[#6123B5]">Tag <svg class="w-2.5 h-2.5 ml-2.5"
          aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg></button></div>
    <div class="flex font-medium grow">Filter by <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown"
        class="flex items-center justify-between pl-3 text-[#6123B5]">Category <svg class="w-2.5 h-2.5 ml-2.5"
          aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg></button></div>
    <div class="relative h-[2.875rem] w-[20rem]">
      <img class="absolute -right-[-5%] -top-[-25%]" src="assets/images/search.svg">
      <input class="border h-full w-full rounded-none placeholder:text-[#222222] py-[0.75rem] px-[1rem] border-black" placeholder="Search article">
    </div>
  </div>
</section>