<div class="container">
    <div class="row">
        <div class="col-lg-12 md-6 sm-12">
          <a href=""> <h6  style="text-decoration: underline 1.5px;">Back</h6> </a> 
        </div>
        <div class="col-lg-7 md-6 sm-12">
            <div class="card">
                <h1>Misteri Kota Gaib Saranjana di Kalimantan</h1>
                <p>Baru-baru ini heboh sebuah foto wanita berpose di sebuah jembatan dengan pemandangan deretan gedung-gedung tinggi nan canggih. Penampakan “kota” tersebut dipercayai warga setempat sebagai Kota Saranjana.</p>
                    <br><br>
                <div class="lingkaran-left">
                <p class="text-white text-center">A</p>
            </div>
            <p class="text-right">by Author • 11 Jun, 2023</p>
            <hr>

                <img src="assets/images/article.jpg" alt="img">
                <br> <br>
               <table class="text-justify">
                <p>Baru-baru ini heboh sebuah foto wanita berpose di sebuah jembatan dengan pemandangan deretan gedung-gedung tinggi nan canggih. Penampakan “kota” tersebut dipercayai warga setempat sebagai Kota Saranjana. Kota Saranjana, berada di Kalimantan Selatan viral yang konon katanya Kota gaib. Disebut-sebut sebagai kota modern serba canggih dan bangunan futuristik. <br> <br> Nama Sambu Ranjana inilah yang digunakan untuk nama Kota Saranjana. Dipercaya bahwa Kota Saranjana ini adalah kota tidak terlihat dengan peradaban konon sudah super canggih. 
<br><br>
                    Siapa pun yang tinggal dan berada di Saranjana itu adalah makhluk dengan peradaban yang jauh lebih maju dari pada peradaban kita saat ini.
                    
                    Pada tahun 1845, ada seorang naturalis berkebangsaan Jerman bernama Salomon Muller sedang meneliti flora dan fauna di Indonesia. Muller ini membuat sebuah peta di mana dia menaruh satu area di Indonesia dengan nama Saranjana.
                    <br><br>
                    Namun, sejak peta itu ada sampai sekarang, tidak ada yang tahu dimana itu Saranjana. Peta ini dia beri judul “Peta Wilayah Pesisir dan Pedalaman Borne”. 
                    
                    Dalam peta, dia mendiskripsikan wilayah dengan nama Tandjoeng Serandjana di sebelah selatan Pulau Laut tepatnya berbatasan dengan wilayah Pulau Kijang dan Pulau Kerumputan.
                    <br><br>
                    Sebagian berpendapat bahwa Muller mengada-ada. Tapi kemampuan Salomon Muller dalam membuat peta tidak bisa diragukan lagi. 
                    
                    Karena dia juga adalah anggota Dinas Kehutanan Hindia Belanda yang sudah mendapatkan pelatihan advance untuk membuat peta, bahkan dari museum Leiden, Belanda.
                    
                    Namun, saat dia sudah sampai di mobil, dia sadar bahwa rasanya tadi penontonnya itu ada 12.000 orang. Tapi kenapa tiba-tiba stadionnya terasa kosong.</p>
               </table>
            </div>
        </div>

        <div class="col-lg-3 md-6 sm-12">
            <div class="card">
                <img src="assets/images/article.jpg" alt="img">
                <h6 class="right-column" style="text-decoration: underline 1.5px;">read</h6>
                <h5>Misteri Kota Gaib Saranjana di Kalimantan</h5>
                <p class="art-right">"Baru-baru ini heboh sebuah foto wanita berpose di sebuah jembatan dengan pemandangan deretan gedung-gedung tinggi nan canggih. Penampakan “kota” tersebut dipercayai warga setempat sebagai Kota Saranjana."</p>

            </div>
            <div class="card">
                <img src="assets/images/article.jpg" alt="img">
                <h6 class="right-column" style="text-decoration: underline 1.5px;">read</h6>
                <h5>Misteri Kota Gaib Saranjana di Kalimantan</h5>
                <p class="art-right">"Baru-baru ini heboh sebuah foto wanita berpose di sebuah jembatan dengan pemandangan deretan gedung-gedung tinggi nan canggih. Penampakan “kota” tersebut dipercayai warga setempat sebagai Kota Saranjana."</p>

            </div>

            <div class="card">
                <img src="assets/images/article.jpg" alt="img">
                <h6 class="right-column" style="text-decoration: underline 1.5px;">read</h6>
                <h5>Misteri Kota Gaib Saranjana di Kalimantan</h5>
                <p class="art-right">"Baru-baru ini heboh sebuah foto wanita berpose di sebuah jembatan dengan pemandangan deretan gedung-gedung tinggi nan canggih. Penampakan “kota” tersebut dipercayai warga setempat sebagai Kota Saranjana."</p>

            </div>
        </div>
    </div>
</div>
