<div class="container">
    <div *ngIf="article" class="row">
        <div class="col-lg-12 md-6 sm-12">
          <a (click)="backClick()"> <h6 class="text-white"  style="text-decoration: underline 1.5px; cursor: pointer;">Back</h6> </a>
        </div>
        <div class="col-lg-9 md-6 sm-12">
            <div class="card">
                <h1>{{(article | async)?.title}}</h1>
                <p class="short_content" [innerHTML]="(article | async)?.short_content"></p>
                    <br><br>
                <div class="lingkaran-left">
                <p class="text-white text-center">A</p>
            </div>
            <p class="text-right">by Author • {{(article | async)?.created_time.toDate() | date:'EEEE, MM yyyy'}}</p>
            <hr>

                <img style="object-fit: cover;" src="{{(article | async)?.content_image}}" alt="img">
                <br> <br>
               <table class="text-justify">
                <p [innerHTML]="(article | async)?.content"></p>
               </table>
            </div>
        </div>

        <div class="col-lg-3 md-6 sm-12">
            <app-small-articles></app-small-articles>
        </div>
    </div>
</div>
