<div class="container">
  <div class="row">
    <div class="col- mt-4 pt-2">
      <app-page-title>
        <p class="text"> Just <br> For You!</p>
      </app-page-title>
    </div>
  </div>

  <div class="row no-gutters pt" >
    <div *ngFor="let value of videos | async; let i = index" class="col-lg-4 col-md-6 col-sm-12">
            <div class="client-box">
              <div style="height: 80%; padding-bottom: 1vh">
                <img (click)="onVideo(value.vidID,value.id)" style="height: 100%; width: 100%; object-fit: cover; cursor: pointer;" src="{{value.thumbnails.standard.url}}" alt="">
              </div>
              <div class="client-box-2">
                <h6 class="title fw-bold">{{value.title}}</h6>
                <p class="credit">The Maple Media • {{value.upload_date.toDate() | date:'MMMM, EE yyyy'}}</p>
              </div>
            </div>
      </div>
    </div>
  </div>