.card{
    margin-top: 46px;
    padding: 20px;
    cursor: default;
    margin-bottom: 6rem;
}

h5{
    font-family: 'Sequel Sans Heavy Disp',sans-serif;
    font-weight: bold;
    font-size: 14px;
}

p{
    font-family: 'Sequel Sans Roman Head',sans-serif;
font-style: normal;
font-weight: 360;
line-height: 160%;
}

.right-column{
    font-family: 'Sequel Sans Roman Head',sans-serif;
    padding-top: 22px;
    font-size: 11px;
}