<div *ngFor="let article of articles | async;" class="card">

    <img style="object-fit: cover; height: 35.3vh; background-color: black;" src="{{article.content_image}}" alt="Image 1">

    <h6 (click)="readClick(article.id)" class="right-column"
        style="text-decoration: underline 1.5px; cursor: pointer; ">Read</h6>
    <h5>{{article.title}}</h5>
    <p class="art-right" [innerHTML]="article.short_content"></p>
    <p>Author: Author Name 1</p>
    <p>Post Date: {{article.created_time.toDate() | date:'EEEE, MM yyyy'}}</p>

</div>