<div class="flex flex-col gap-y-4">
    <div (click)="readClick(article.id)" *ngFor="let article of articles | async;"
        class="transition duration-150 ease-in-out flex cursor-pointer justify-center items-center p-4 h-[120px] w-full bg-[#222222] hover:scale-105">
        <p class="text-white line-clamp-2 text-[20px] font-extrabold">{{article.title}}</p>
    </div>
</div>

<!-- <img style="object-fit: cover; height: 35.3vh; background-color: black;" src="{{article.content_image}}" alt="Image 1">

    <h6 (click)="readClick(article.id)" class="right-column"
        style="text-decoration: underline 1.5px; cursor: pointer; ">Read</h6>
    <h5>{{article.title}}</h5>
    <p class="art-right" [innerHTML]="article.short_content"></p>
    <p>Author: Author Name 1</p>
    <p>Post Date: {{article.created_time.toDate() | date:'EEEE, MM yyyy'}}</p> -->