<div class="marquee">
    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;" >

    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">
    
    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">
    
    
  
  </div>
    
    <div class="marquee marquee2">

        <img src="assets/images/can.svg" alt="img" style="margin-left: 53%;">

        <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

        <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

        <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

        <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

        <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">
    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">
    <img src="assets/images/can.svg" alt="img" style="margin-left: 10%;">

    </div>