<app-banner class="component-margin"></app-banner>
<!--<div style="margin-bottom: 100px"></div>-->
<app-categories></app-categories>
<app-video-list title="Latest Video"></app-video-list>
<div *ngFor="let cat of segments | async; let i = index">
  <app-video-list [title]="cat.name"></app-video-list>
</div>


<!--<app-video-list title="REWIND"></app-video-list>-->
<!--<app-video-list title="TRICKROOM"></app-video-list>-->
<!--<app-video-list title="UNSCENE"></app-video-list>-->
<!--<app-video-list title="WANDER"></app-video-list>-->
<!--<app-video-list title="PLAYROOM"></app-video-list>-->
<!--<app-video-list title="DIXI"></app-video-list>-->
<div class="container">
  <app-scroller-menu-title title="Articles"></app-scroller-menu-title>
</div>
