<section class="pt-[10%] flex container justify-between">
    <p class="text-white w-1/2 text-[2.5rem] font-[800]">Reach Us</p>
    <div class="w-1/2 gap-y-5 flex flex-col">
        <p class="text-[1.75rem] text-[#A3FF00] font-[700]">The Maple Media</p>
        <p class="text-[1.25rem] w-[24rem] text-white font-[400]">
            Komp T8, Jl. Sutra Niaga III no 3,
            Alam sutra, Kota Tangerang Selatan.
            Banten, Indonesia 15325
        </p>
    </div>
</section>

<div class="border-b container mt-[10%] border-b-[#A3FF00]"></div>

<section class="pt-[10%] flex container justify-between">
    <p class="text-white w-1/2 text-[2.5rem] font-[800]">Inquiries</p>
    <ul class="w-1/2 p-0 space-y-10">
        <li class="flex flex-col">
            <p class="text-[1.75rem] text-[#A3FF00] font-[700]">General & Business</p>
            <div class="text-[1.25rem] text-white font-[400]">
                <p>For new business inquiries, send your project brief to the email below
                    and we will get back to you soon. And we’re not shying away from
                    collaborations or community project, so send us your proposal also
                    to this email.</p>
                <a class="underline">info@themaple.media</a>
            </div>
        </li>
        <li class="flex flex-col">
            <p class="text-[1.75rem] text-[#A3FF00] font-[700]">Career</p>
            <div class="text-[1.25rem] text-white font-[400]">
                <p>For new business inquiries, send your project brief to the email below
                    and we will get back to you soon. And we’re not shying away from
                    collaborations or community project, so send us your proposal also
                    to this email.</p>
                <a class="underline">career@redwoodsdigital.com</a>
            </div>
        </li>
    </ul>
</section>

<div class="border-b container mt-[10%] border-b-[#A3FF00]"></div>

<section class="pt-[10%] mb-10 flex container justify-between">
    <p class="text-white w-1/2 text-[2.5rem] font-[800]">Follow</p>
    <div class="w-1/2">
        <div class="w-[331px] grid md:grid-cols-2 md:gap-y-6">
            <a class="text-[1.75rem] text-white font-light">Youtube</a>
            <a class="text-[1.75rem] text-white font-light">Instagram</a>
            <a class="text-[1.75rem] text-white font-light">TikTok</a>
            <a class="text-[1.75rem] text-white font-light">Spotify</a>
        </div>
    </div>
</section>