.vertical-line {
    width: 1px;
    height: 100%;
    background-color: black;
    float: right;
}

.client-box {
    height: 231px !important;
}

iframe{
    border-radius: 15px;
    height: 100%;
    width:100%;
}

.client-box-2 {
    background-color: black;
    color: white;
    padding-bottom: 20px;
  }

.border-box {
    width: 504px;
    height: 62px;
    border: 2px solid #000000;

}

.container{
    margin-bottom: 6rem;
}

@media screen and (max-width: 768px) {

    .col-lg-8 {
        height: 40rem;
    }
    
}