<div style="line-height: 1; padding: 14vh 5vw 11vh;">
      <span class="text fw-lighter hero-title">WHERE </span>
      <span class="text-white sequel-font">WOMEN</span> <br>
      <span class="text-white sequel-font">CAN </span>
      <span class="text fw-lighter hero-title">TALK </span>
      <span class="text-white sequel-font">& </span>
      <span class="text fw-lighter hero-title">EXPRESS </span> <br>
      <span class="text fw-lighter hero-title">THEIR </span>
      <span class="text-white sequel-font">TRUE BEAUTY </span> <br>
      <br><br><br><br>
      <span class="text-white description">The Maple Media • May, 12 2023</span>
    </div>