.sequel-font {
  font-size: 12vh;
  font-family: "Sequel Sans Heavy Disp", sans-serif;
  font-weight: bold;
}

.container {
  margin-left: 17vw;
}

@media (max-width: 576px) {
  .sequel-font {
    font-size: 5vh;
    font-family: "Sequel Sans Heavy Disp", sans-serif;
    font-weight: bold;
  }
}
