<ngb-carousel>
  <ng-template ngbSlide>
    <div class="wrapper" style="background-color: #6123B5;"></div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img src="../../../../../assets/images/rewind.png" style="width: 100%;" alt="">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper" style="background-color: #6123B5;"></div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper" style="background-color: #6123B5;"></div>
  </ng-template>
</ngb-carousel>
