<section class="hero-one-1 position-relative"
         style="background-image: url(../../../../../assets/images/banner.png);" id="home">
  <!--  <div class="bg-overlay position-absolute top-0 end-0 bottom-0 start-0"></div>-->
  <!--  <div class="bg-hero-overlay position-absolute top-0 end-0 bottom-0 start-0"></div>-->
  <div style="line-height: 1;     padding: 2vh 12vw 17vh;">
    <img src="assets/images/font-banner.png" alt="" style="width: 100%;">
    <!-- <span class="text-white fw-lighter hero-title">SORRY, </span>
    <span class="text-white sequel-font">WE</span>
    <span class="text-white  fw-lighter hero-title"> DON’T </span> <br/>
    <span class="text-white sequel-font">PROVIDE </span> 
    <span class="text-white fw-lighter hero-title">THE </span><br/>
    <span class="text-white fw-lighter hero-title">SWEET </span>
    <span class="text-white sequel-font">SYRUP!</span> -->
  </div>
  <!-- end container -->
</section>
