<!-- <div class="content">
  <video src="assets/videos/maple.mp4" style="width: 100%; position:absolute; z-index: -1;" [autoplay]="true" [muted]="true" [loop]="true"></video>
</div>

<section class="hero-one-1 position-relative">
  <div style="line-height: 1;      z-index: 10; ">
    <img src="assets/images/f" alt="" style="width: 100%;">
  </div>


</section> -->

<section class="hero-one-1 position-relative">
  <div class="hero">
    <img class="image-padding" src="assets/images/font-banner.png" alt="" style="width: 100%; position: absolute; z-index: 10" >
    <div class="content">
      <video src="assets/videos/maple.mp4" webkit-playsinline playsinline style="width: 100%; position:relative;" [autoplay]="true" [muted]="true" [loop]="true"></video>
    </div>
  </div>
  <!-- end container -->
</section>
