<div class="marquee-container" [style.background-color]="backgroundColor">
  <div class="marquee-wrapper">
    <div class="marquee">
        <span class="text-black sequel-font hero-title">"BE </span>
        <span class="text-purple fw-lighter">THE&nbsp;</span>
        <span class="text-black sequel-font">MAPLE TO </span>
        <span class="text-purple fw-lighter"> MY&nbsp;</span>
        <span class="text-black"> WAFFLE"</span>

        <span class="text-black hero-title">"BE </span>
        <span class="text-purple fw-lighter">THE&nbsp;</span>
        <span class="text-black">MAPLE TO </span>
        <span class="text-purple fw-lighter"> MY&nbsp;</span>
        <span class="text-black"> WAFFLE"</span>

        <span class="text-black hero-title">"BE </span>
        <span class="text-purple fw-lighter">THE&nbsp;</span>
        <span class="text-black">MAPLE TO </span>
        <span class="text-purple fw-lighter"> MY&nbsp;</span>
        <span class="text-black"> WAFFLE"</span>
      
      </div>
        
        <div class="marquee marquee2">
        <span class="text-black hero-title">"BE </span>
        <span class="text-purple fw-lighter">THE&nbsp;</span>
        <span class="text-black">MAPLE TO </span>
        <span class="text-purple fw-lighter"> MY&nbsp;</span>
        <span class="text-black"> WAFFLE"</span>

        <span class="text-black hero-title">"BE </span>
        <span class="text-purple fw-lighter">THE&nbsp;</span>
        <span class="text-black">MAPLE TO </span>
        <span class="text-purple fw-lighter"> MY&nbsp;</span>
        <span class="text-black"> WAFFLE"</span>

        <span class="text-black hero-title">"BE </span>
        <span class="text-purple fw-lighter">THE&nbsp;</span>
        <span class="text-black">MAPLE TO </span>
        <span class="text-purple fw-lighter"> MY&nbsp;</span>
        <span class="text-black"> WAFFLE"</span>
        </div>
    </div>
  </div>
