<div class="marquee-container" [style.background-color]="backgroundColor">
  <div class="marquee-wrapper">
    <div class="marquee">
      <span class="text-black sequel-font hero-title"> &lsquo;&lsquo;BE </span>
      <span class="text-purple">THE&nbsp;</span>
      <span class="text-black sequel-font">MAPLE TO </span>
      <span class="text-purple"> MY&nbsp;</span>
      <span class="text-black">WAFFLE&rsquo;&rsquo;</span>

      <span class="text-black hero-title">&lsquo;&lsquo;BE </span>
      <span class="text-purple">THE&nbsp;</span>
      <span class="text-black">MAPLE TO </span>
      <span class="text-purple"> MY&nbsp;</span>
      <span class="text-black">WAFFLE&rsquo;&rsquo;</span>

      <span class="text-black hero-title">&lsquo;&lsquo;BE </span>
      <span class="text-purple">THE&nbsp;</span>
      <span class="text-black">MAPLE TO </span>
      <span class="text-purple"> MY&nbsp;</span>
      <span class="text-black">WAFFLE&rsquo;&rsquo;</span>

    </div>

    <div class="marquee marquee2">
      <span class="text-black hero-title">&lsquo;&lsquo;BE </span>
      <span class="text-purple">THE&nbsp;</span>
      <span class="text-black">MAPLE TO </span>
      <span class="text-purple"> MY&nbsp;</span>
      <span class="text-black">WAFFLE&rsquo;&rsquo;</span>

      <span class="text-black hero-title">&lsquo;&lsquo;BE </span>
      <span class="text-purple">THE&nbsp;</span>
      <span class="text-black">MAPLE TO </span>
      <span class="text-purple"> MY&nbsp;</span>
      <span class="text-black">WAFFLE&rsquo;&rsquo;</span>

      <span class="text-black hero-title">&lsquo;&lsquo;BE </span>
      <span class="text-purple">THE&nbsp;</span>
      <span class="text-black">MAPLE TO </span>
      <span class="text-purple"> MY&nbsp;</span>
      <span class="text-black">WAFFLE&rsquo;&rsquo;</span>
    </div>
  </div>
</div>