<div class="marquee-container" [style.background-color]="backgroundColor">
  <div class="marquee-wrapper">
    <div class="marquee-text"><span>
      <div>COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻&nbsp;</div>
    </span>
      <span>
      <div>COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻&nbsp;</div>
    </span><span>
      <div>COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻&nbsp;</div>
    </span><span>
      <div>COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻&nbsp;</div>
    </span><span>
      <div>COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻&nbsp;</div>
    </span><span>
      <div>COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻&nbsp;</div>
    </span><span>
      <div>COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻&nbsp;</div>
    </span><span>
      <div>COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻&nbsp;</div>
    </span><span>
      <div>COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻&nbsp;</div>
    </span><span>
      <div>COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻ COOL TEXT ☻&nbsp;</div>
    </span>
    </div>
  </div>
</div>
