<div class="marquee">
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
  
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
  
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>

          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>

          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>

          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
        
        </div>
          
          <div class="marquee marquee2">
            <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
  
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
  
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>

          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>

          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>

          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          <span class="text-black hero-title">WAN</span>
          <span class="text-black fw-lighter">DER &nbsp;</span>
          </div>