<nav class="navbar navbar-expand-lg navbar-dark sticky" id="navbar" (window:scroll)="windowScroll()">
  <div class="container">
    <a routerLink="/layout-one-3" class="navbar-brand">
      <img src="assets/images/logo/maple-logo.png" alt="" style="width: 100px; height: 100%;" />
    </a>
    <a href="javascript:void(0)" class="navbar-toggler" (click)="toggleMenu()" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggle-icon">
        <i-feather name="menu"></i-feather>
      </span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto navbar-center mt-lg-0 mt-2">
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-12" id="dropdownBasic1" ngbDropdownToggle>
              COMPANY <img src="assets/images/nav.svg" alt="svg">
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="show" ngbDropdownItem [ngClass]="{'active':currentSection === 'videos'}" href="javascript: void(0);"
              (click)="onNavClick('home-company')">About</button>
            <button class="show" ngbDropdownItem [ngClass]="{'active':currentSection === 'articles'}" href="javascript: void(0);"
              (click)="onNavClick('collaboration')">Collaboration</button>
            <button class="show" ngbDropdownItem [ngClass]="{'active':currentSection === 'store'}" href="javascript: void(0);"
              (click)="onNavClick('contact')">Contact</button>
            </div>
          </div>
          
        </li>

        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-12" id="dropdownBasic1" ngbDropdownToggle>
              APP <img src="assets/images/nav.svg" alt="svg">
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="show" ngbDropdownItem [ngClass]="{'active':currentSection === 'home'}"
            href="javascript: void(0);" (click)="onNavClick('home')">Home</button>
              <button class="show" ngbDropdownItem [ngClass]="{'active':currentSection === 'videos'}" href="javascript: void(0);"
                (click)="onNavClick('media')">Video</button>
              <button class="show" ngbDropdownItem [ngClass]="{'active':currentSection === 'articles'}" href="javascript: void(0);"
                (click)="onNavClick('articles')">Article</button>
              <button class="show" ngbDropdownItem [ngClass]="{'active':currentSection === 'store'}" href="javascript: void(0);"
                (click)="onNavClick('store')">Dept.store</button>
              <button class="show" ngbDropdownItem [ngClass]="{'active':currentSection === 'activation'}" href="javascript: void(0);"
                (click)="onNavClick('activation')">Activation</button>
            </div>
          </div>
        </li>
      </ul>
      <a href="javascript:void(0);" (click)="onLoginClick()"
        class="btn btn-sm nav-btn text-primary mb-4 mb-lg-0 btn-signin">Sign in
      </a>
    </div>
  </div>
  <!-- end container -->
</nav>