<section class="hero-one-1 position-relative"
         style="background-image: url(assets/images/banner.png);" id="home">
  <!--  <div class="bg-overlay position-absolute top-0 end-0 bottom-0 start-0"></div>-->
  <!--  <div class="bg-hero-overlay position-absolute top-0 end-0 bottom-0 start-0"></div>-->
  <div class="container">
    <span class="text-white fw-lighter hero-title">SORRY, </span>
    <span class="text-white sequel-font">WE</span> <br/>
    <span class="text-white sequel-font"> DON’T </span>
    <span class="text-white fw-lighter hero-title">PROVIDE </span> <br/>
    <span class="text-white sequel-font">THE </span>
    <span class="text-white fw-lighter hero-title">SWEET </span> <br/>
    <span class="text-white sequel-font">SYRUP!</span>
  </div>
  <!-- end container -->
</section>
