
.marquee-container {
    overflow: hidden;
    position: relative;
    height: 6vh;
    background-color: #FFE800;
  }
  
  .marquee-wrapper {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    
  }
  
  .marquee {
    display: inline-block;
    padding-right: 478px; /* Adjust the padding as per your requirements */
    animation: marquee 20s linear infinite;
    padding-top: 3px;
    animation-delay: 0.5s;
    cursor: default;
  }
  
  .marquee2 {
    animation-delay: 0.5s;
  }
  
  .hero-title{
    font-family: 'Sequel Sans Heavy Disp', sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #6123B5;
    margin-left: 2%;
  }
  
  .fw-lighter{
    font-family: 'bebas neue', sans-serif;
    font-size: 36px;
    color: #6123B5;
  }
  
  @keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%); }
  }  

  @media screen and (max-width:769px) {
    .marquee{
      padding-top: 7px;
      padding-right: 220px;
    }
    
  }