.big-container {
    height: 62.5vh;
    width: 100%;
    background-color: #252323;
    color: white;
}

.image-container {
    height: 70%;
    width: inherit;
    // background-color: red;
}

.small-image-container {
     height: 50%;
    width: inherit;
    // background-color: red;
}

.content-container {
    padding: 15px;
}

.small-container {
    width: 100%;
    height: 100%;
    background-color: #252323;
    color: white;
}
