.col-lg-6, .col-lg-5{
    padding-top: 80px;
    
}

.namecard{
    font-family: 'sequel sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 27px;
}

.description{
    font-family: 'sequel sans', sans-serif;
    font-size: 20px;
    font-weight: 400px;
    margin-top: 30px;
    margin-left: 27px;
    margin-right: 20px;
}

.col-lg-1{
    width: 0px;
    height: 770px;
    border-left: 1px solid #E8E8E8;
    margin-top: 80px;
}

.name-produk{
    font-family: 'Sequel Sans',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 38px;
}

.harga-produk {
    font-family: 'Sequel Sans',sans-serif;
    font-style: normal;
    font-weight: 360;
    font-size: 20px;
    line-height: 24px;
}

.buy{
    background: #000000;
    color: white;
    font-family: 'Sequel Sans',sans-serif;
    font-style: normal;
    font-weight: 365;
    font-size: 16px;
    outline-color: transparent;
    border-color: transparent;
    width: 340px;
    height: 51px;
    margin-top: 20px;
    
}

.buy:focus, .buy:active {
    background-color: #6123B5;
    
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 1023px) {
    .right-column {
        flex: 0 0 auto;
        max-width: 43%;
        
    margin-left: -30px;
}
.col-lg-1{
    height: 0px;
        padding-top: 0px;
}

}

@media screen and (max-width: 767px) {
    .col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .card-line {
        border: 0px solid #E8E8E8;
}
    .col-lg-1{
        height: 0px;
        padding-top: 0px;
    }

    .left-column{
        margin-top: -114px;
    
}
.right-column{
    margin-left: 0px;
    padding-top: 30px;
}

.description, .harga-produk{
    font-size: 16px;
}

.buy {
    width: 270px;
    height: 38px;
    
}

.name-produk {
    font-size: 22px;
}


.square-1, .square-2, .square-3{
    width: 26px;
    height: 26px;
    font-size: 14px;
    padding: 1px 0px 0px 4px;
}


}