.col-lg-12 {
  padding-top: 114px;
}

h1 {
  font-family: 'Sequel Sans Heavy Disp', sans-serif;
  font-size: 64px;
  color: black;
  padding-top: 57px;
  cursor: default;
}

.col-lg-8, .col-lg-4 {
  padding-top: 143px;

  margin-bottom: 133px;
}

.btn, .btn:after {
  width: 80%;
//   height: 20%;
  border-radius: 20px;
//   border: 2px;
  margin-top: 44rem;
  margin-bottom: 8rem;
  color: white !important;
  border: 2px solid white !important;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75) !important;
//   background-color: transparent !important;
  font-size: 20px;
  font-family: 'Sequel Sans Roman Disp', sans-serif;
}

.btn:hover, .btn:active {
  background-color: #6123B5 !important;
  color: white;
}

.hero {
  line-height: 1;
}

.image-padding {
  padding: 12vh 12vw 0vh;
}

.hero-one-1 {
  padding: 0 !important;
}

.content {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.content video {
  width: 100%;
  display: block;
}
.content:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
}


@media screen and (max-width: 1041px) {
  .btn{
    margin-top: 30rem !important;
    margin-left: 6rem !important;
  }
  
}

@media screen and (max-width: 769px) {

  .logo {
    width: 40% ;
  }

  .col-md-6{
    width: 100%;
  }

  .image-padding {
    padding: 2vh 4vw 0vh;
  }

  h1 {
    font-size: 30px;
  }

  .text {
    width: 100%;
  }
  .btn {
    font-size: 14px;
    width: 70%;
    margin-top: 23rem;
    margin-bottom: 2rem;
    display: none;
  }

  .col-lg-4 {
    padding-top: 0px;
  }

}

@media screen and (max-width: 320px) {

.btn{
  display: none;
}

.logo {
  width: 40%;
}

.trick{
  width: 108%;
}

.content:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
}

}