.input-box input {
    width: 80%;
    border: none;
    outline: none;
    background: transparent;
    color: #000000 !important;
}

hr{
    margin: 0.3rem 0;
color: black;
    opacity: inherit;
    padding: 1px;
    width: 80%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: 1; /* Firefox */
    font-family: 'Sequel Sans Roman Head', sans-serif;
  }

 
  .no-arrow::-webkit-inner-spin-button {
    display: none;
  }
  .no-arrow::-webkit-outer-spin-button,
  .no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  textarea {
    margin-top: 4rem;
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;
    resize: none;
  }

  .submit{
    background-color: transparent;
    width: 80%;
    height: 16%;
    border-radius: 40px;
    margin-top: 16rem;
    border: solid;
    font-family: 'Sequel Sans Medium Head', sans-serif;
    font-size: 16px;
  }

  .submit:hover{
    background-color: #6123B5;
    color: white;
    border-color: transparent !important;
  }

  @media screen and (max-width:769px) {

    .submit{
        margin-top: 2rem;
        height: 60%;
        color: #000000;
    }
    
    textarea{
        width: 90%;
    }

    hr{
        padding: 0px;
    }

    .input-box{
        margin: 1rem 0rem;
        
    }
  }