
.marquee-container {
    overflow: hidden;
    position: relative;
    height: 6vh;
    background-color: black;
  }
  
  .marquee-wrapper {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    
  }
  
  .marquee {
    display: inline-block;
    padding-right: 256px; /* Adjust the padding as per your requirements */
    animation: marquee 20s linear infinite;
    animation-delay: 0.5s;
    
  }
  
  .marquee2 {
    animation-delay: 0.5s;
  }
  
  .hero-title{
    font-family: 'bebas neue bold', sans-serif;
    
    font-size: 36px;
  }
  
  .fw-lighter{
    margin-left: 2%;
    font-family: 'bebas neue book', sans-serif;
    font-size: 36px;
  }

  .fw-lighter-2{
    font-family: 'bebas neue', sans-serif;
    font-size: 36px;
  }

  .fw-lighter-1{
    font-family: "bebas neue book",sans-serif;
    
    font-size: 36px;
  }
  
  @keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%); }
  }  