<div class="marquee">
  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>



</div>

<div class="marquee marquee2">

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>

  <span class="text-white fw-lighter">U</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white hero-title">SCE</span>
  <span class="text-white fw-lighter-2">N</span>
  <span class="text-white fw-lighter-1">E &nbsp;</span>



</div>