.text{
    font-family: 'Sequel Sans',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
}

.col-3{
    padding: 0 0 0 0;
}

.row {
    --bs-gutter-x: 3.5rem;
}

p{
    height: 280px;
    overflow: hidden;
    overflow-y: scroll;

}

h2{
    font-size: 28px;
}