.text{
    font-family: 'Sequel Sans',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
}

.col-8{
    padding-left: 0px;
    margin-left: -42px;
}

.row {
    --bs-gutter-x: 3.5rem;
}