<app-running-text></app-running-text>
<div class="w-full flex flex-col">
  <youtube-player [videoId]="vidID" [width]='innerWidth' [height]="innerWidth / (16/9)" suggestedQuality="highres"
    [playerVars]="playerConfig">
  </youtube-player>
  <div class="p-10">
    <div class="text-white">
      <h2>{{(indexZeroVideo | async)?.title}}</h2>
      <p class="text-[12px]">{{(indexZeroVideo | async)?.upload_date.toDate() | date:'dd/mm/yyyy'}} • The Maple Media</p>
      <p>{{(indexZeroVideo | async)?.description}}</p>
    </div>
  </div>
</div>

<app-video-list title="Recommended for You"></app-video-list>