<app-running-text></app-running-text>
<section class="hero-one-1 position-relative"
  style="background-image: url(../../../../../assets/images/banner-play.png);" id="home">
  <!--  <div class="bg-overlay position-absolute top-0 end-0 bottom-0 start-0"></div>-->
  <!--  <div class="bg-hero-overlay position-absolute top-0 end-0 bottom-0 start-0"></div>-->
  <section class="section" id="review">
    
<div class="container">
      <div class="row no-gutters">
        <div class="col-9 mt-12 pt-2">
          <div class="client-slider-one">
                <div style="height: 100%;">
                  <youtube-player [videoId]="vidID" suggestedQuality="highres" [height]="443" [width]="788" [playerVars]="playerConfig" >
                  </youtube-player>
                </div>
          </div>
        </div>

        <div class="col-3 mt-12 pt-2">
          <table class="text-white">  
            <h2>{{(indexZeroVideo | async)?.title}}</h2>
            <p>{{(indexZeroVideo | async)?.description}}
            
            <br><br>
            The Maple Media • {{(indexZeroVideo | async)?.upload_date.toDate() | date:'EEEE, MM yyyy'}} </p>
          </table>
        </div>
      </div>
</div>
  
  </section>
  <!-- end container -->
</section>

<app-banner-play title="All"></app-banner-play>