.marquee-container {
    overflow: hidden;
    position: relative;
    height: 6vh;
    background-color: #00EDFF;
  }
  
  .marquee-wrapper {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    
  }
  
  .marquee {
    display: inline-block;
    padding-right: 304px; /* Adjust the padding as per your requirements */
    animation: marquee 20s linear infinite;
    animation-delay: 0.5s;
    
  }
  
  .marquee2 {
    animation-delay: 0.5s;
  }
  
  .hero-title{
    font-family: 'sequel sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    margin-left: 2%;
  }
  
  .text-purple{
    font-family: 'bebas neue', sans-serif;
    font-size: 30px;
    color:  #6123B5;
  }
  
  @keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%); }
  }  