
      <div class="marquee">
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
  
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
  
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>

          <span class="text-purple hero-title">RE</span>
          <span class="text-purple">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple">WIND &nbsp;</span>

          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>

          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>

    
          
          
        
        </div>
          
          <div class="marquee marquee2">
  
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
  
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>

          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>

          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>

          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>

          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>
          <span class="text-purple hero-title">RE</span>
          <span class="text-purple fw-lighter">WIND &nbsp;</span>

          </div>