<footer class="footer">

  <div class="container">
    <div class="relative flex justify-center items-center">
      <img class="absolute" src="assets/images/logofooter.svg" alt="img">
      <img class="animate-spin-slow" src="assets/images/run-foot.svg" alt="rotating">

    </div>
    <div class="flex justify-center gap-x-6 link">
      <a class="link-1" href="mailto:info@themaple.media;">Terms of Use</a>
      <a class="link-1" href="mailto:info@themaple.media;">Privacy Policy</a>
    </div>

    <div class="flex flex-col justify-center text-center mt-[3.13rem]">
      <p class="font-bold text-[#A3FF00] text-[0.8rem]">GET TO KNOW US!</p>

      <div class="row no-gutters">
        <div class="col-4 col-md-6 col-sm-12 left-img">
          <a class="yt" href="javascript: void(0);">
            <img onclick="parent.open ('https://www.youtube.com/@themaplemedia')" src="assets/images/youtube.svg"
              width="50%" alt="yt"></a>
        </div>
        <div class="col-4 col-md-6 col-sm-12 center-img">
          <a class="ig" href="javascript: void(0);">
            <img onclick="parent.open ('https://www.instagram.com/themaplemedia/')" src="assets/images/ig.svg"
              width="45%" alt="ig"></a>
        </div>
        <div class="col-4 col-md-6 col-sm-12 right-img">
          <a class="tiktok" href="javascript: void(0);">
            <img onclick="parent.open ('https://www.tiktok.com/@themaplemedia')" src="assets/images/tiktok.svg"
              width="35%" alt="tiktok"></a>

        </div>
      </div>
    </div>

    <div class="row credit">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <p style="cursor: default;">© 2023 THE MAPLE MEDIA</p>
      </div>
    </div>
  </div>
</footer>