<footer class="footer">

  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-12 center-logo">
      <img src="assets/images/logofooter.svg" alt="img">
      <img class="run" src="assets/images/run-foot.svg" alt="rotating">
      
    </div>
    <div class="row link">
      <div class="col-lg-2 col-md-6 col-sm-12">
        <p class="business">Business: </p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 ">
        <a class="link-1" href="mailto:info@themaple.media;">info@themaple.media</a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a class="link-2" href="tel:+6281386586718;">+62 813-8658-6718</a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a class="link-3" href="https://www.google.com/maps/search/?api=1&query=The+Maple+Media"  target="_blank">Komp T8, Jl. Sutra Niaga III no 3 Alam sutra, Kota Tangerang Selatan, Banten 15325</a>

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-4 col-md-6 col-sm-12 left-img">
        <a class="yt" href="javascript: void(0);">
          <img onclick="parent.open ('https://www.youtube.com/@themaplemedia')" src="assets/images/youtube.svg" width="50%" alt="yt"></a>
      </div>
      <div class="col-4 col-md-6 col-sm-12 center-img">
        <a class="ig" href="javascript: void(0);">
          <img onclick="parent.open ('https://www.instagram.com/themaplemedia/')" src="assets/images/ig.svg" width="45%" alt="ig"></a>
      </div>
      <div class="col-4 col-md-6 col-sm-12 right-img">
        <a class="tiktok" href="javascript: void(0);">
          <img onclick="parent.open ('https://www.tiktok.com/@themaplemedia')" src="assets/images/tiktok.svg" width="35%" alt="tiktok"></a>

      </div>
    </div>

    <div class="row credit">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <p style="cursor: default;">© 2023 THE MAPLE MEDIA</p>
      </div>
    </div>
  </div>
</footer>