<footer class="footer">

  <div class="container">
    <div class="relative flex justify-center items-center">
      <img class="absolute" src="assets/images/logofooter.svg" alt="img">
      <img class="animate-spin-slow" src="assets/images/run-foot.svg" alt="rotating">

    </div>
    <div class="flex justify-center text-center gap-x-6 mt-5 ">
      <a class="link-1" href="mailto:info@themaple.media;">Terms of Use</a>
      <a class="link-1" href="mailto:info@themaple.media;">Privacy Policy</a>
    </div>

    <div class="flex flex-col justify-center gap-y-5 text-center mt-[3.13rem]">
      <p class="font-bold text-[#A3FF00] text-[0.8rem]">GET TO KNOW US!</p>

      <div class="flex justify-center items-center gap-x-5">
        <a class="yt scale-150" href="javascript: void(0);">
          <img onclick="parent.open ('https://www.youtube.com/@themaplemedia')" src="assets/images/youtube.svg"
                alt="yt"></a>
        <a class="ig scale-150" href="javascript: void(0);">
          <img onclick="parent.open ('https://www.instagram.com/themaplemedia/')" src="assets/images/ig.svg"
                alt="ig"></a>
        <a class="tiktok scale-150" href="javascript: void(0);">
          <img onclick="parent.open ('https://www.tiktok.com/@themaplemedia')" src="assets/images/tiktok.svg"
                alt="tiktok"></a>

      </div>

      <div class="grow"></div>

      <p style="cursor: default;">© 2023 THE MAPLE MEDIA</p>
    </div>

    <div class="row credit">
      <div class="col-lg-12 col-md-12 col-sm-12">

      </div>
    </div>
  </div>
</footer>
