<div class="container">
  <!-- <div *ngIf="indexZeroArticle" class="row no-gutters">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img class="image" src="{{indexZeroArticle.content_image}}" alt="Image">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 right-column">
      <p style="font-size: 20px; font-weight: bold; font-family: 'Sequel Sans Heavy Disp', sans-serif">{{indexZeroArticle.title}}</p>
      <p [innerHTML]="indexZeroArticle.short_content"></p> <br> <br>
      <p class="p1">Author: Author Name</p>
      <p class="p2">Post Date: {{indexZeroArticle.created_time.toDate() | date:'EEEE, MM yyyy'}}</p> <br><br><br><br>
      <a (click)="readClick(indexZeroArticle.id)" style="font-family: 'Sequel Sans Roman Disp', sans-serif;">Read more <img src="assets/images/arrow_next.svg" alt="svg" style="height: 4%; "></a>
    </div>
  </div> -->

  <div *ngFor="let article of articles | async; let i = index" class="pt-3">
    <div class="row custom-card">
      <div class="col-lg-6 p-5">
        <div
          style="font-family: Sequel Sans Heavy Disp, sans-serif; font-size: 14px; font-weight: bold; height: 5vh;">
          {{article.title}}</div><br>
        <div class="short_content" [innerHTML]="article.short_content"></div> <br> <br>
        <!-- <p class="p1">Author: Author Name 1</p> -->
        <p class="p2">Post Date: {{article.created_time.toDate() | date:'EEEE, MM yyyy'}}</p> <br>
        <a (click)="readClick(article.id)" style="font-family: 'Sequel Sans Roman Disp', sans-serif;">Read
          more</a><br><br><br>
      </div>
      <div class="col-lg-12" style="height: inherit; width: 255px; margin-left: auto;">
        <img height="100%" style="width: inherit; object-fit: cover; background-color: black;" class="d-flex image" src="{{article.content_image}}"
          alt="Image 1">
      </div>
    </div>
  </div>
</div>