.row {
  display: flex;
  flex-wrap: wrap;
}

a {
  cursor: pointer;
}

p {
  cursor: default;
}

.p1,
.p2 {
  font-family: "Sequel Sans Roman Head", sans-serif;
}

.short_content {
  ::ng-deep {
    p {
      font-family: "arvo" !important;
      // color: black;
    }
    span {
      font-family: "arvo" !important;
    }
  }
}

@media screen and (max-width: 800px) {
  .short_content {
    ::ng-deep {
      p {
        font-family: "arvo" !important;
        // color: black;
        font-size: 8px !important;
      }
      span {
        font-family: "arvo" !important;
        font-size: 8px;
      }
    }
  }
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.no-gutters .col,
.no-gutters [class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.image {
  width: 100%;
}

.right-column {
  background-color: black;
  color: white;
  padding: 20px !important;
}

.custom-card {
  padding: 0px;
  background: #252323;
  color: white;
  height: 255px;
}

.vertical-container {
  display: flex;
  height: 100%;
  padding: 12px;
}

.container {
  margin-bottom: 6rem;
}

.col-lg-4 {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .right-column {
    background-color: black;
    color: white;
    padding: 20px !important;
  }
}
