<section class="hero-one-1 position-relative" style="background-color: #6123B5; " id="home">
  <div class="container">
    <div style="line-height: 1;     padding: 2vh 12vw 17vh 0vh;">
      <img class="collab" src="assets/images/text-collab.svg" alt="">
    </div>


    <div class="row">

      <div class="col-lg-3 md-6 col-sm-12">
        <img src="assets/images/collab-1.svg" alt="" style="width: 100%;">
      </div>
      <div class="col-lg-3 md-6 col-sm-12">
        <img src="assets/images/collab-2.svg" alt="" style="width: 100%;">
      </div>
      <div class="col-lg-3 md-6 col-sm-12">
        <img src="assets/images/collab-3.svg" alt="" style="width: 100%;">
      </div>
    </div>
  </div>
  <!-- end container -->
</section>