
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$maple-webapp-primary: mat.define-palette(mat.$indigo-palette);
$maple-webapp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$maple-webapp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$maple-webapp-theme: mat.define-light-theme((
  color: (
    primary: $maple-webapp-primary,
    accent: $maple-webapp-accent,
    warn: $maple-webapp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($maple-webapp-theme);

/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@font-face {
  font-family: 'Sequel Sans Heavy Disp';
  src: url('assets/font/Sequel Sans Heavy Disp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sequel Sans Heavy Head';
  src: url('assets/font/Sequel Sans Heavy Head.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sequel Sans Black Disp';
  src: url('assets/font/Sequel Sans Black Disp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas neue';
  src: url('assets/font/BebasNeue Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas neue Book';
  src: url('assets/font/BebasNeue Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas neue Bold';
  src: url('assets/font/BebasNeue Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.owl-next1{
  top:100px !important;
}

.owl-dots {
  margin-top: 20px !important;
}


.section .owl-next div {
  color: black !important;
  font-size: 58px !important;
  position:absolute !important;
  top: 30px !important;
  right: -60px !important;
}

.section .owl-next div:hover, .section .owl-prev div:hover{
color: #6123B5 !important;
}

.dropdown-item.active{
  background-color: #6123B5;
}

.dropdown-menu.show{
  box-shadow: -5px 5px black;
}

.section .owl-prev div {
  color: black !important;
  font-size: 58px !important;
  position:absolute !important;
  top: 30px !important;
  left: -65px !important;

}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: #FFF;
  text-decoration: none;
}

.owl-carousel.owl-drag .owl-item{
  width: 280px !important;
}

.owl-theme .owl-nav [class*=owl-] {
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: transparent;
  // display: block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme:active .owl-nav:hover {
  background: white !important;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  

  .section .owl-next div {
    color: transparent !important;
    font-size: 1px !important;
    position:absolute !important;
    top: 30px !important;
    right: 0px !important;
  }

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
