.client-box {
  width: 17.7vw;
  height: 25vh !important;
}

.client-slider-one .client-box {
  text-align: start;
  font-size: 14pt;
}

.section {
  padding: 0;
}

@media (max-width: 768px) {
  .client-slider-one .client-box {
    text-align: start
  }

  .client-box {
    width: 100%
  }
}
