<!--what client says -->
<section class="section" id="review">
  <div class="container">
    
    <app-scroller-menu-title [title]="title"></app-scroller-menu-title>
    <app-see-videos [segmentId]="title"></app-see-videos>
    <!-- end row -->
    <div class="row">
      <div class="col-12 mt-4 pt-2">
        <div class="client-slider-one">
          <owl-carousel-o [options]="customOptions" class="carousel slide text-center home-carousel">
            <ng-template carouselSlide *ngFor='let value of videos | async'>
              <div class="client-box">
                <div style="height: 80%; padding-bottom: 1vh">
                  <img (click)="onVideo(value.vidID,value.id)" style="height: 100%; object-fit: cover;" src="{{value.thumbnails.standard.url}}" alt="">
                </div>
                <h6>{{value.title}}</h6>
              </div>

              
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end what client says -->
