<!--what client says -->
<section class="section" id="review">
  <div class="container">

    <app-scroller-menu-title [title]="title"></app-scroller-menu-title>
    <app-see-videos [segmentId]="title"> </app-see-videos>
    <!-- end row -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-6 mt-4 pt-2">
        <div class="client-slider-one">
          <owl-carousel-o [options]="customOptions" class="carousel slide text-center home-carousel">
            <ng-template carouselSlide *ngFor='let value of videos | async'>
              <div class="client-box" style="overflow: hidden">
                <div style="height: 50%; padding-bottom: 1vh">
                  <img (click)="onVideo(value.vidID,value.id)" style="height: 100%; object-fit: cover;"
                    src="{{value.thumbnails.standard.url}}" alt="">
                </div>
                <h6 class="px-3 mt-2">{{value.title}}</h6>
                <div class="d-flex px-3 pb-3" style="font-size: 0.5rem; bottom: 0; color: #D3D3D3; position: absolute">
                  {{value.upload_date.toDate() | date:'dd/mm/yyyy'}} • The Maple Media</div>
              </div>


            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end what client says -->