.client-box {
  width: 17.7vw;
  height: 25vh !important;
}

.client-slider-one .client-box {
  text-align: start;
  font-size: 14pt;
}

.section {
  padding: 0;
}
.owl-prev .owl-next {
  color: #000000;
  font-size: 55px;
  margin: 10px;
  padding: 4px 7px;
  background: transparent;
  /* display: inline-block; */
  cursor: pointer;
  border-radius: 3px;
}

.text{
 text-align: right;
 margin-top: -60px;
}

.text:hover{
  color: #6123B5;
}

.carousel{
  width: 280px;
}

.lastcol{
  background:transparent;
  border:none ;
  margin-right: 7px !important;
  margin-left: 5px !important;
}
@media screen and (max-width: 769px) {
  .client-box {
    width: 340px ;
    height: 33vh !important;
  }
}

@media only screen and (max-width: 320px) {
  .client-slider-one .client-box {
    text-align: start
  }

  .client-box {
    width: 100% ;
  }

  
  

}