<!--what client says -->
<section class="section flex flex-col justify-center items-center" id="review">
  <div class="container">
    <app-scroller-menu-title [title]="title"></app-scroller-menu-title>
    <app-see-videos [segmentId]="title"> </app-see-videos>
    <!-- end row -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-6 mt-4 pt-2">
        <div class="client-slider-one">
          <owl-carousel-o [options]="customOptions" class="carousel slide text-center home-carousel">
            <ng-template carouselSlide *ngFor='let value of videos | async'>
              <div class="client-box hover:cursor-pointer" style="overflow: hidden">
                <div class="relative" style="height: 54%;">
                  <div class="absolute flex items-center p-2 justify-center right-2 bottom-1 h-5 w-12 text-[10px] bg-black">
                    {{value.duration}}
                  </div>
                  <img (click)="onVideo(value.vidID,value.id)" class="h-full object-cover"
                    src="{{value.thumbnails.standard.url}}" alt="">
                </div>
                <div class="h-[40%]">
                  <p class="px-3 mt-2 text-[14px]" style="font-family: 'Figtree' !important; font-weight: 800;">{{value.title}}</p>
                  <div class="d-flex px-3 pb-3"
                    style="font-size: 0.5rem; bottom: 0; color: #D3D3D3; position: absolute">
                    {{value.publishedAt | date: 'dd/MM/yyyy' : 'UTC'}} • The Maple Media</div>
                </div>
              </div>


            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
  <button (click)="onShowMore()" type="button"
          class="bg-[#6123B5] mb-4 hover:bg-[#A3FF00] hover:text-[#6123B5] hover:scale-110 active:scale-100 text-[0.8rem] w-[9.3rem] mt-6 p-[0.5rem] text-[#A3FF00] font-medium">
    Show
    All
    Videos
  </button>
  <!-- end container -->
</section>

