.border {
  height: 40px;
  width: 40px;
  float: right;
  overflow: hidden;
}

.dropdown-item {

  font-weight: 410;
  color: black;
  background-color: white;
}

.btn {
  margin-bottom: -8px;
}

.dropdown-menu.show {
  box-shadow: -5px 5px black;
  border-radius: 0px;
  border: 2.781px solid #000;
  padding-left: 4px;
  min-width: 5.2rem;
}

img {
  width: 100%;
}

.nav-item::marker {
  color: black;
}

.dropdown-toggle::after {
  display: none;
}

.item:hover {
  color: #6123B5;
}

.dropdown-menu.show {
  border: 2.781px solid #000;
  border-radius: 0px;
    box-shadow: -5px 5px black, -7px 7px white !important;
  }


.item {
  background-color: transparent;
  border: none;
  text-decoration: underline 1.5px;
  text-underline-offset: 2px;
  font-family: 'Sequel Sans Roman Disp', sans-serif;
}

@media screen and (max-width:768px) {
  .btn{
    // margin-bottom: 0px;
    margin-left: 220px;
  }
}