<section class="mt-[50px] relative">
    <div class="hero">
        <!--    <img class="image-padding" src="assets/images/home-company.png" alt="" style="width: 100%; position: absolute; z-index: 10" >-->
        <div class="container">
            <div class="row">
                <!--        <div class="col-lg-5 col-md-6 col-sm-12">-->
                <!--          <button (click)="onCollabClick()" class="btn btn-outline-light align-items-center"-->
                <!--                  style="position: absolute; z-index: 10">We’ll make a great team <img-->
                <!--            src='assets/images/arrow_forward_ios-white.svg'></button>-->
                <!--        </div>-->
            </div>
        </div>
        <div class="content">
            <img src="assets/images/colab.svg" style="width: 100%">
        </div>
    </div>
    <!-- end container -->
</section>

<section class="mt-[10%] phone:mx-3 lg:flex container justify-between">
    <p class="text-white w-1/2 text-[2.5rem] font-[800]">Collaboration</p>
    <ul class="lg:w-1/2 p-0 space-y-10">
        <!-- <li class="flex flex-col">
            <p class="text-[1.75rem] text-[#A3FF00] font-[700]">Production Services</p>
            <div class="text-[1.25rem] text-white font-[400]">
                <p>We provide everything you need to help make your
                    production
                    the best it can be with today's top-of-the-game content making
                    skills.</p>
                <p>Our experienced crew can ensure that the entire production
                    runs smoothly and can help with everything you need throughp
                    re-production, filming, and editing.</p>
            </div>
        </li> -->
        <li>
            <p class="text-[1.75rem] text-[#A3FF00] font-[700]">Brand Tap-In</p>
            <div class="text-[1.25rem] text-white font-[400]">
                <p>You can include your brand to brings disclosure to our viewers.
                    Use our content tap-in services to help customers discover your
                    brands as they watch our videos.</p>
            </div>
        </li>
        <li>
            <p class="text-[1.75rem] text-[#A3FF00] font-[700]">Blocking Content</p>
            <div class="text-[1.25rem] text-white font-[400]">
                <p>Partner with our fun team and scale your brand with a
                    collaborative work environment. See what matches between
                    us and we will arrange how the compatibility will pay off.</p>
            </div>
        </li>
    </ul>
</section>

<div class="border-b container mt-[10%] border-b-[#A3FF00]"></div>

<section class="mt-[10%] mb-10 flex container justify-between">
    <p class="text-white w-1/2 text-[2.5rem] font-[800]">Get in Touch</p>
    <div class="w-1/2 space-y-5 flex flex-col">
        <p class="text-[1.75rem] text-[#A3FF00] font-[700]">Let's Team Up!</p>
        <form>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="floating_name" id="floating_name"
                        class="block border-l-0 border-t-0 border-r-0 py-2.5 px-0 w-full text-sm text-white bg-transparent border-b border-b-white dark:text-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-[#6123B5] peer"
                        placeholder=" " required />
                    <label for="floating_name"
                        class="peer-focus:font-medium absolute text-sm text-white dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input type="tel" name="floating_phone" id="floating_phone"
                        class="block border-l-0 border-t-0 border-r-0 py-2.5 px-0 w-full text-sm text-white bg-transparent border-b border-b-white dark:text-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-[#6123B5] peer"
                        placeholder=" " required />
                    <label for="floating_phone"
                        class="peer-focus:font-medium absolute text-sm text-white dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone</label>
                </div>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <input type="email" name="floating_email" id="floating_email"
                    class="block border-l-0 border-t-0 border-r-0 py-2.5 px-0 w-full text-sm text-white bg-transparent border-b border-b-white dark:text-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-[#6123B5] peer"
                    placeholder=" " required />
                <label for="floating_email"
                    class="peer-focus:font-medium absolute text-sm text-white dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <textarea type="email" name="floating_message" id="floating_message"
                    class="block border-l-0 border-t-0 border-r-0 py-10 px-0 w-full text-sm text-white bg-transparent border-b border-b-white dark:text-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-[#6123B5] peer"
                    placeholder=" " required></textarea>
                <label for="floating_message"
                    class="peer-focus:font-medium absolute text-sm text-white dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Message</label>
            </div>

            <button type="submit"
                class="text-[#A3FF00] hover:text-[#6123B5] bg-[#6123B5] hover:bg-[#A3FF00] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Submit</button>
        </form>
    </div>
</section>