.logo-signin {
    position: absolute;
    padding: 0% 10%;
    margin: 67px;
    width: 140px;
    left: calc(60% - 140px/2);
    top: 9.31%;
    bottom: 55.55%;
}

.login {
    width: 100%;
    margin-top: 12rem;
}

span{
    font-size: 16px;
    font-family: 'Sequel Sans Medium Head';
}
.btn {
    position: absolute;
    left: 47px;
    right: 47px;
    top: 169px;
    bottom: 46.67%;
    width: 350px;
    height: 54px;
    color: #FFFFFF;
    background: #6123B5;
    border-radius: 30px;
}

.btn:focus,
.btn:active {
    background-color: #D9D9D9;
}

.img-google {
    margin-right: 50px;
    margin-left: 6px;
}

.or {
    position: absolute;
    width: 18px;
    left: calc(50% - 18px/2);
    top: 57.22%;
    bottom: 40.83%;

    font-family: 'Sequel Sans', sans-serif;
    font-style: normal;
    font-weight: 360px;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}

.btn-google {
    position: relative;
    width: 60%;
    height: 12%;
    margin: -10rem 0rem 0rem 3rem;
    background: #FFFFFF;
    border-color: white !important;
    border: solid;
    border-radius: 30px;
    box-shadow: 0px 0px 14px -2px #b1b1b1;
    margin-left: 118px;
}

.btn-google:focus,
.btn:active {
    border: #9CA6B9;
}


.have {
    position: absolute;
    width: 184px;
    left: calc(50% - 93px);
    top: 86.67%;
    bottom: 20.97%;

    font-family: 'Sequel Sans', sans-serif;
    font-style: normal;
    font-weight: 360;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #9CA6B9;
}

a {
    position: absolute;
    width: 184px;
    left: 262px;
    top: 86.67%;
    bottom: 20.97%;
    font-family: "Sequel Sans", sans-serif;
    font-style: normal;
    font-weight: 360;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #6123B5;
}

.input-box {
    margin: 61px auto;
    width: 73%;
    border-bottom: 0.5px solid #C4CBD9;
    padding-top: 10%;
    padding-bottom: 1%;
}

.input-box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #000000;
}

::placeholder {
    font-family: 'Sequel Sans', sans-serif;
    color: #9CA6B9;
}

@media screen and (max-width:769px) {

    .btn-google{
    width: 70%;

    }

    .img-google{
        margin-right: 100px;
    }

    .login{
        margin-top: 6rem;
    }
    
    
}

@media screen and (max-width:426px){
.btn-google{
    margin: -5.5rem 0rem 0rem 3.4rem;
//    margin-left: 44px;
    }
    .img-google{
        margin-right: 20px;
    }

    .btn-google{
        height: 16%;
    }
}