.marquee-container {
    overflow: hidden;
    position: relative;
    height: 8vh;
  }
  
  .marquee-wrapper {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    
  }
  
  .marquee {
    display: inline-block;
    padding-right: 75px; /* Adjust the padding as per your requirements */
    padding-top: 4px;
    animation: marquee 20s linear infinite;
    animation-delay: 0.5s;
    cursor: default;
  }
  
  .marquee2 {
    animation-delay: 0.5s;
  }
  
  .hero-title{
    margin-left: 2%;
  }
  
  .text-white{
    font-family: 'Sequel Sans Heavy Head', sans-serif;
    font-size: 36px;
    line-height: 36px;
  }
  
  .text-purple{
    font-family: 'bebas neue', sans-serif;
    font-size: 36px;
    color:  #FF5AD1;
  }
  
  @keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%); }
  }  